node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
coverage/
.vercel
.unlighthouse/
cypress/screenshots/homepage.cy.ts/Homepage -- Contains correct number of links (failed).png
cypress/screenshots/homepage.cy.ts/Homepage -- First & last link contain correct label (failed).png
