@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palette from <https://github.com/vuejs/theme> */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #eceaea;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #000000;
  --vt-c-black-soft: #282828;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: rgba(60, 60, 60, 1);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(204, 204, 204, 1);

  /* semantic color variables for this project */
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-transparent: rgba(255, 255, 255, 0.4);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-button: var(--vt-c-text-dark-1);

  --color-logo-left: #231F20;
  --color-logo-right: #9C8E1B;

  --section-gap: 160px;

  /* Dark mode colors */
  --dark-color-background: var(--vt-c-black);
  --dark-color-background-soft: var(--vt-c-black-soft);
  --dark-color-background-mute: var(--vt-c-black-mute);
  --dark-color-background-transparent: rgba(0, 0, 0, 0.3);

  --dark-color-border: var(--vt-c-divider-dark-2);
  --dark-color-border-hover: var(--vt-c-divider-dark-1);

  --dark-color-heading: var(--vt-c-text-dark-1);
  --dark-color-text: var(--vt-c-text-dark-2);
  --dark-color-text-button: var(--vt-c-text-dark-1);

  --dark-color-logo-left: #9C8E1B;
  --dark-color-logo-right: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);    
  --tw-bg-opacity: 1;
  background-color: var(--color-background-mute);
  transition: color 0.5s, background-color 1s;
  -moz-transition: color 0.5s, background-color 1s;
  -webkit-transition: color 0.5s, background-color 1s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill-logo-left {
  fill: var(--color-logo-left);
  -moz-transition: fill 1s;
  -webkit-transition: fill 1s;
  transition: fill 1s;
}
.fill-logo-right {
  fill: var(--color-logo-right);
  -moz-transition: fill 1s;
  -webkit-transition: fill 1s;
  transition: fill 1s;
}

.dark-mode body {
  color: var(--dark-color-text);
  background-color: var(--dark-color-background-soft);
}
.dark-mode .fill-logo-left {
  fill: var(--dark-color-logo-left);
  -moz-transition: fill 1s;
  -webkit-transition: fill 1s;
  transition: fill 1s;
}
.dark-mode .fill-logo-right {
  fill: var(--dark-color-logo-right);
  -moz-transition: fill 1s;
  -webkit-transition: fill 1s;
  transition: fill 1s;
}


.fill-primary {
  fill: #9C8E1B;
}
.fill-black {
  fill: #231F20;
}
.fill-white {
  fill: #FFFFFF;
}
.stroke-primary {
  stroke: #9C8E1B;
}
.stroke-black {
  stroke: #231F20;
}
.stroke-white {
  stroke: #FFFFFF;
}


h1 {
  font-weight: 500;
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.1rem;
}
p {
  font-size: 0.8rem;
  padding: 10px;
}
